:root {
    @if variable-exists(colors) {
        @each $name, $color in $colors {
            @for $i from 0 through 5 {
                @if ($i == 0) {
                    --#{$name}-50:#{tint($color, (5 - $i) * 19%)};
                }
                @else {
                    --#{$name}-#{$i * 100}:#{tint($color, (5 - $i) * 19%)};
                }
            }
            
            @for $i from 1 through 4 {
                --#{$name}-#{($i + 5) * 100}:#{shade($color, $i * 15%)};
            }
        }
    }
}

// ----- color ----- //
.linear-gradient-background {
    &-90 {
        background: linear-gradient(90deg, var(--linear-gradient-start) 0%, var(--linear-gradient-end) 100%);
    }

    &-135 {
        background: linear-gradient(135deg, var(--linear-gradient-start) 0%, var(--linear-gradient-end) 100%);
    }
}

.bg-neon-500 {
    background-color: var(--neon-500) !important;
}
